#stats:hover #statsText{
    transform: translateX(1px);
}
#tipos:hover #tiposText{
    transform: translateX(1px);
}
#statsText,#tiposText{
    transition: all 1s;
}
#statsData{
    transition: all 0.5s;
}